@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400');

body {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  padding: 0 24px;
}
h1, h2 {
  font-weight: normal;
}
.button {
  color: white;
  padding: 5px 10px;
  font-weight: normal;
  background: blue;
}
.button:hover {
  opacity: .9;
  font-weight: lighter;
  position: relative;
  top: 1px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.letters {
  padding: 5px;
  font-size: 24px;
  list-style: none;
  font-family: monospace;
  li {
    background-color: blue;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 4px 12px;
    display: inline;
    border-radius: 50%
  }
}

